button {
    cursor: pointer;
    border: none;
}

button.main {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 180%;
    padding: 12px 16px;
}

button.primary {
    background-color: #1a1a1a;
    color: white;
}

button.primary:hover {
    background-color: #414141;
}

button.secondary {
    color: #1a1a1a;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

button.secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 500px) {
    button {
        font-family: Plus Jakarta Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 180%;
    }
}